.container {
    font-size: 62.5%;
    font-weight: 700;
    height: 96vh;
    border: 1px solid rgba(85, 85, 85, 0.801);
    .route-table {
        font-family: 'Lobster', cursive;
        font-size: 4rem;
    }
    .side-navbar {
        width: 20vw;
        font-size: 2rem;
        text-align: center;
        background-color: var(--primary-color);
        .sidebar-content {
            padding: 2rem 0 0 0;
            color: var(--text-color);
        }
    }
    .content {
        font-size: 2rem;
        color: var(--text-color);
        background-color: var(--background-color)
    }
    .scroller, .dashboard  {
        display: block;
        padding: 2rem;
        cursor: pointer;
        font-size: 2.5rem;
        font-family: 'Lobster', cursive;
        &:hover {
            color: rgba(64, 89, 228, 0.808)
        }
    }
   
    
}
